@import url(https://fonts.intera.dev/_/sora);

* {
    padding: 0px;
    margin: 0px;
    font-family: "sora", sans-serif;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    color: rgb(0, 0, 0);
}

html, body {
    min-height: 100%;
    background: #ffffff;
}

h1 {
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 27px;
}

a[href],
a[href]:link,
a[href]:visited {
    color: #229755;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

a[href]:hover {
    text-decoration: underline #1c7a45;
    color: #1c7a45;
}

.page-titles {
    font-weight: 300;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}


.contents {
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 20px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1c7a45;
}

::-webkit-scrollbar-thumb:hover {
    background: #176639;
}
